<!DOCTYPE html>

<head th:replace="~{fragmentos :: head('Lista de Professores')}"></head>
<body>
    <header th:replace="~{fragmentos :: header('Lista de Professores')}"></header>
    <div class="container">

            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOME</th>
                            <th scope="col">SALARIO</th>
                            <th scope="col">STATUS</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="professor : ${professores}">
                            <th class="col-1" scope="row" th:text="${professor.getId()}">ID</th>
                            <td class="col-4" th:text="${professor.nome}">NOME DO PROFESSOR</td>
                            <td class="col-2" th:text="${professor.salario}">SALARIO</td>
                            <td class="col-2" th:text="${professor.statusProfessor != null ? professor.statusProfessor.toString() : ''}">STATUS</td>

                            <td class="col-1"><a th:href="@{/professores/{professorId}(professorId = ${professor.id})}">Detalhes</a></td>
                            <td class="col-1"><a href="#">Editar</a></td>
                            <td class="col-1"><a href="#">Deletar</a></td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="professores/new">Novo Professor</a>
        </div>
    </div>
</body>
</html>