<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Professor</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Novo Professor</h1>
    </div>
    <div class="container">
        <div class="row">
            <form action="/professores" method="POST">
                <div class="mb-3">
                    <label class="form-label">Nome do professor</label>
                    <input class="form-control" type="text" name="nome">
                    <div></div>
                    <form action="/professores" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Salario</label>
                            <input class="form-control" type="text" name="salario">
                            <div></div>
                            <form action="/professores" method="POST">
                                <div class="mb-3">
                                    <label class="form-label">Status</label>
                                    <select class="form-select" name="statusProfessor">
                                       <option th:each="status : ${statusProfessor}"
                                        th:value="${status}" th:text="${status}"></option>
                                        </select>
                </div>
                <button class="btn btn-primary" type="submit">Submeter</button>
                <a href="javascript: history.back()">Voltar</a>
            </form>
</body>

</html>